body{
	margin: 0;
	padding: 0;
	background-image: url(../images/gadgets_background.jpg);
	background-size: cover;
    background-attachment: fixed;
	background-position: cover;
	font-family: sans-serif;
}
form{
    width: 250px;
    height: 230px;
    padding: 10px 10px 10px 28px;
    margin: 0;
}
.transparent-box{
	width: 365px;
    height: 400px;
    background: rgba(0,0,0,0.2);
    color: white;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%,-50%);
    box-sizing: border-box;
    padding: 70px 30px;
    border: 4px solid white;

}
.icon{
    width: 110px;
    height: 110px;
    position: absolute;
    top: -50px;
    left: calc(48% - 50px);
    border: 4px solid white;
    border-radius: 50%;
 }
h1{
    margin: 0;
    padding: 0 0 20px;
    text-align: center;
    font-size: 35px;
    font-family: sans-serif;
}
p{
    margin: 0;
    padding: 0;
    font-weight: bold;
}
a{
	margin: 0px 0 0 0;
	color: white;
}
a:hover{
    color: white;
}

#head img{
    float: left;
    width: 9%;
    height: auto;
    top: 2%;
    left:1%;
    position: absolute;

}
#head > h2 {    
                font-size: 19px;
                color: #66757F;
                width: 56px;
                margin-left: 9%;
                margin-top: 2%;
                 
           }
#head > h2:hover {
                    color:#FFF;
                }

.center{
	margin: 10px 0px 0px 92px;
}
 
.username{
    margin: 0px 0px 10px;
	border: none;
    border-bottom: 1px solid #fff;
    outline: none;
    height: 40px;
    color: black;
    font-size: 16px;
    width: 250px;
}
.password{
	border: none;
    border-bottom: 1px solid #fff;
    outline: none;
    height: 40px;
    color: black;
    font-size: 16px;
    width: 250px;

}   
.submit{
	margin: 15px 0 0 80px;
	border: none;
    outline: none;
    height: 35px;
    width: 80px;
    background: #3F729B;
    color: white;
    font-size: 20px;
    border-radius: 8px;
    font-family: sans-serif;

}
.submit:hover{
    color: #3F729B;
    font-size: 20px;
    font-weight: bold;
    background:white;
    font-family: sans-serif;
}
.transparent-box a:hover{
    color: black;
}
#btable{
    top: 40%;
    left: 35%;
    position: absolute;
    
}
#btable{
    border-collapse: collapse;
    width: 100%;
}
#btable tr th{
    border: 2px solid black;
    height: 30px;
    width: 50px;
    font-size: 20px;
    text-align: center;

}
#btable tr td{
    border: 2px solid grey;
    height: 30px;
    width: 50px;

}